<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 	<style type="text/css"> 
 	.wel-msg{
 		text-align: center;
 	}
 	</style>
</head>
<body style="background-color: white">
<%= render 'partials/navigation' %>

<div class="container">
   
<!-- Ends Jumbotron -->

			<%= yield %>


	<!-- <div>
		<%= render 'partials/footer' %>
	</div> -->
	</div>
</body>
</html>